<!--Login-->
<section id="clients" class="scrollto clearfix">
  <div class="row clearfix">

      <div class="col-3">

          <div class="section-heading">
              <h3>Trust is Our's Weapon</h3>
              <h2 class="section-title"><i class="fa fa-sign-in" aria-hidden="true"></i> Login Form</h2>
              <p class="section-subtitle">Cillum magna consequat laboris quis et id. Nulla elit fugiat ad fugiat commodo ex officia Lorem veniam. Esse labore fugiat enim dolor ex voluptate.</p>
          </div>

      </div>

      <div class="col-2-3">
          <!--Login Form-->
        <section id="pricing" class="secondary-color text-left scrollto clearfix">
          <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="row clearfix py-4">
              <div class="col-2 mx-auto float-none">
                <label for="email"><b>Email Id:</b></label>
                <input type="text" formControlName="email" placeholder="Enter Email Id" name="email" required autocomplete="true">
          
                <label for="password"><b>Password:</b></label>
                <input type="password" formControlName="password" placeholder="Enter Password" name="password" required>
                  
                <button type="submit" [ngClass]="{disabled: !loginForm.valid}" [disabled]="!loginForm.valid">Login</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
              <div class="clearfix"></div>
              <div class="col-2 mx-auto float-none clearfix">
                <div class="col-2 px-1"><a href="javascript:void(0)" class="button">Forgot Password?</a></div>
                <div class="col-2 px-1"><a routerLink="/signup" class="button">Sign Up</a></div>
              </div>
                <!--End Login Form-->
            </div>
          </form>
        </section>
      </div>
  </div>
</section>
<!--End of Login-->